.table-container{
   
}

th{
 
}

.mainBody{

position: relative;
bottom: 430px;
width: 800px;
left: 300px;
height: 500px;


}


.mainBody .table-class{
    max-height: 400px; /* Set the maximum height for the table body */
    overflow-y: auto;
    border-radius: 10px;
}


.mainBody .table-class::-webkit-scrollbar {
    display: none;
}




