.controls{

    position: relative;
   
    left: 200px;
    width: 500px;
    /* background-color: red; */
    z-index: 1;
    bottom: 350px;
}

.table-container{
    position: relative;
    bottom: 340px;
    left: 155px;
    right: 100px;
    background-color: aliceblue;
    border-radius: 10px;
    height: 400px;
}

.table-head th{
    background-color: rgb(43, 43, 90);
    color: aliceblue;
}

/* .search-bar{
    position: relative;
    left: 150px;
    top: 10px;
}

.search-bar input{
    position: relative;
    left: 100px;
  
}

.searchBox{
    position: relative;
    top: 30px;
}



.search-btn{
    position: relative;
    top: 67px;
} */

.title{
    position: relative;
    top: 100px;
}


.formContainer{
    background-color: red;
}

.add_form{  
    display:flex;
    flex-wrap: wrap;
    max-width: 600px;
    max-height: 430px;
    justify-content:baseline;
    align-items: center;
    background-color: rgb(27, 34, 73);
    padding: 20px;
    border-radius: 10px;
    overflow: auto;
    margin-left: 250px;
    color: aliceblue;
    position: relative;
    bottom: 250px;
    
 
}

.edit-form{  
    display:flex;
    flex-wrap: wrap;
    max-width: 550px;
    max-height: 430px;
    justify-content:baseline;
    align-items: center;
    background-color: rgb(27, 34, 73);
    padding: 20px;
    border-radius: 10px;
    overflow: auto;
    margin-left: 250px;
    color: aliceblue;
    position: relative;
    bottom: 230px;
    /* padding-bottom: 5000px; */
 
}

.fill-form{
    display: flex;
    flex-wrap: wrap;
}

.btn-update{
    background-color: blue;
    text-decoration: none;
    border: 0cap;
    font-size: 20px;
    color: wheat;
    padding: 10px;
    text-align: center;
    border-radius: 5px;

}

.btn-update:hover{
    background-color: rgb(35, 35, 138);
    cursor: pointer;
}


.btn-cancel{
    background-color: red;
    text-decoration: none;
    color: wheat;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.btn-cancel:hover{
    background-color:rgb(150, 28, 28);
    cursor: pointer;
}



.form-control{
    margin: 8px;
    font-size: 15px;
    width: 250px;

}   

.addButtons{
    margin-right: 385px;
    margin-top: 10px;
}

.addButtons button{
    width: 70px;
    height: 30px;
}







/* .add_form label{
    margin: 8px;
    font-size: 15px;
}

.add_form input{
    width: 300px;
    height: 20px;
    margin: 8px;
} */

/* .search-bar button{
    background-color: blue;
} */

/* 
.table-container{
    position: relative;
    left: 70px;
    
    height: 1000px;
    width: 899px;
    border-radius: 0px 20px 20px  20px;  
    bottom: 410px;
    box-shadow: -10px 10px 10px rgba(12, 31, 52, 0.436);
   
}

.table-container th{
    font-size: 8.5px;
}

.table-container th{
    background-color: rgb(218, 218, 233);
    color:  rgb(34, 45, 57);
    box-shadow: inset;
    text-align: center;
}

.table-container td{
    background-color: rgb(218, 218, 233);
    color: rgb(34, 45, 57);
}

.table-head th{
    background-color: rgb(34, 45, 57);
    color: rgb(217, 202, 202);
    text-align: center;
}


.controls{
    
    width: 900px;
   
    position: relative;
    left: 250px;
    bottom: 440px;
} */

/* 
.addBtn{
    background-color:aliceblue;
    color: rgb(34, 45, 57) ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    position: relative;
    top:24px;
    left:375px;
    border: 0px;
    box-shadow: -3px 3px 5px rgba(12, 31, 52, 0.436);

}

.addBtn:hover{
    background-color:rgb(52, 70, 89) ;
    cursor: pointer;
}

.searchBtn{
    background-color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    position: absolute;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    color: rgb(34, 45, 57) ;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
    left: 509px;
    top: 80px;
    box-shadow: -3px 3px 5px rgba(12, 31, 52, 0.436);

}

.searchBtn:hover{
    background-color:rgb(52, 70, 89) ;
    cursor: pointer;
}

.searchBox{
    position:absolute;
    border-radius: 5px;
    border-color: rgb(34, 45, 57) ;
    width: 300px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    left: 600px;
    top: 79px;
    box-shadow: -3px 3px 5px rgba(12, 31, 52, 0.436);

}

h3{
    position: relative;
    top: 84px;
    left: 10.5px;
    background-color:rgb(34, 45, 57);
    color: aliceblue;
    width:230px;
    border-radius: 20px 20px 0px 0px;
    padding-left: 15px;
} */

/* 
.container{
    width: 1000px;
}

.form-group input {
    margin-top: 10px;
border: 0px;
 border-radius: 5px;
 width: 290px;
 height: 25px;
}

.fill-form{
   
    width: 1000px;
   
    position: relative;
    left: 300px;
    bottom: 209px;
    background-color: rgba(12, 31, 52, 0.436);
    padding: 5px;
    border-radius: 5px;
    height: 500px
}

.fill-form label{
    position: relative;
    top: 7px;
    font-size: 13px;
    color: aliceblue;
}

.image-holder{
    color: aliceblue;
    font-size: 13px;
    width: 310px;
    position: relative;
    left: 621px;
    top: 30px;
    
}



.update_form{
    background-color: rgba(12, 31, 52, 0.592);
    width: 300px;
   -ms-flex-align: start;
   position: absolute;
    top: 10px;
}


.update_form button{


}

.add_form{
    width: 600px;
    justify-content: baseline;
    position: relative;
    left: 300px;
    bottom: 209px;
    background-color: rgba(12, 31, 52, 0.592);
    padding: 5px;
    border-radius: 5px;
    height: 500px;
    -ms-flex-align: start;
    position: absolute;
     top: 10px;
     z-index: -1;

}

.add_form label{
    
}

.image_box{
   
    width: 200px;
    position: absolute;
    right: 460px;
}

.image_box label{
    font-size: 13px;
    color: aliceblue;
}


.image_box input{
    font-size: 13px;
    color: aliceblue;
}


.add_form button{
    
    border: 0px;
    width: 50px;
    height: 30px;
    border-radius: 3px;
    position: relative;
    top: 8px;
}

.add_form .submit{
background-color: rgb(51, 51, 218);
color: aliceblue;
}

.add_form .cancel{
    background-color: rgb(202, 41, 41);
    color: aliceblue;
    }


    h1{
        color: aliceblue;
    }
 

                                 
    .addButtons{
        background-color:red;
    } */
